.App {
    text-align: center;
}

.list-style {
    list-style: none;
}

.my-films {
    display: flex;
    flex-wrap: wrap;
}

.my-img {
    width: 100%;
    height: 100%;
}

.my-cart {
    width: 200px;
}

#bnt-star {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: rgb(236, 10, 10);
}

.off {
    color: #ccc;
}

.my-footer {
    margin-top: 100%;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: relative;
    min-width: 350px;
    min-height: 300px;
    background-color: white;
    border-radius: 15px;
    padding-top: 50px;
}

.modal-close {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.container-modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 500px;
}

.my-input {
    display: flex;
    flex-direction: column;
}